@import url("https://fonts.cdnfonts.com/css/marcellus");
@import url("https://fonts.cdnfonts.com/css/aerotis");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Marcellus", sans-serif;
}

body {
  height: 100vh;
  background-color: #f2efed;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #f2efed;
}

body::-webkit-scrollbar-thumb {
  background-color: #33433d;
  border-radius: 20px;
}

.header-img {
  width: 100%;
}

.header-img img {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #33433d;
  margin-left: 0.75rem;
  letter-spacing: -0.063rem;
}

.home-text {
  margin-top: 1rem;
}

.home-text p {
  text-align: center;
  font-size: 0.5rem;
  color: #33433d;
  margin-top: 0.5rem;
}

.home-text h1 {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: #33433d;
  font-family: "Aerotis", sans-serif;
}

.slides1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.slideshow-container {
  width: 45%;
  position: relative;
  margin: auto;
  margin-top: 1rem;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.local {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.local-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.local-text p {
  text-align: center;
  font-size: 0.5rem;
  color: #33433d;
  margin-top: 0.5rem;
}

.local-map {
  display: flex;
  justify-content: center;
}

.local-map iframe {
  width: 100%;
  padding: 1rem;
  width: 300px;
  height: 300px;
}

.maps-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.waze {
  background-color: #33433d;
  display: flex;
  flex-direction: row;
  width: 20%;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.5rem;
}

.waze a {
  color: white;
  font-size: 0.75rem;
}

.maps {
  background-color: #33433d;
  display: flex;
  flex-direction: row;
  width: 20%;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.maps a {
  color: white;
  font-size: 0.75rem;
}

.rsvp-text {
  margin-top: 1rem;
}

.rsvp-text p {
  text-align: center;
  font-size: 0.5rem;
  color: #33433d;
  margin-top: 0.5rem;
}

.rsvp {
  padding: 1rem;
}

.rsvp input {
  border-radius: 1rem;
  padding: 0.2rem;
  width: 100%;
  font-size: 0.5rem;
}

.presenca {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 0.5rem;
}

.radio-button {
  display: flex;
}

.radio-button label {
  margin-right: 0.25rem;
}

.radio-button input {
  margin-right: 0.25rem;
}

.presenca-adulto {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 0.5rem;
}

.presenca-adulto select {
  font-size: 0.75rem;
  border-radius: 1rem;
  padding: 0.2rem;
}

.rsvp button {
  margin-top: 1rem;
  background-color: rgb(230, 230, 230);
  color: #33433d;
  font-size: 0.5rem;
  font: bold;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 100%;
}

.presentes-text {
  margin-top: 1rem;
}

.presentes-text p {
  text-align: center;
  font-size: 0.5rem;
  color: #33433d;
  margin-top: 0.5rem;
}

.presentes {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.presentes a {
  display: flex;
  justify-content: center;
}

.presentes img {
  width: 150px;
  height: 150px;
  padding: 1rem;
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.presentes img:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.pix-text {
  margin-top: 1rem;
}

.pix-text p {
  text-align: center;
  font-size: 0.5rem;
  color: #33433d;
  margin-top: 0.5rem;
}

.pix {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.pix img {
  width: 150px;
  height: 150px;
  padding: 1rem;
}

.pix-email p {
  text-align: center;
  font-size: 0.5rem;
  color: #33433d;
}

.traje-text {
  margin-top: 1rem;
}

.traje-text p {
  text-align: center;
  font-size: 0.5rem;
  color: #33433d;
  margin-top: 0.5rem;
}

.traje {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.traje img {
  width: 75%;
  padding: 0.75rem;
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 60%;
  padding: 1rem;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-top: 1.5rem;
  }

  .navbar a {
    margin-left: 1.75rem;
    font-size: 1.75rem;
    letter-spacing: -0.175rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid transparent;
  }

  .navbar a:hover {
    border-bottom: 2px solid #33433d;
    text-decoration: none;
  }

  .home-text {
    margin-top: 2rem;
  }

  .home-text p {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .home-text h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .slideshow-container {
    margin-top: 2rem;
  }

  .local-text p {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .local-map {
    display: flex;
    justify-content: center;
  }

  .local-map iframe {
    width: 50%;
    padding: 1rem;
    width: 600px;
    height: 500px;
  }

  .maps-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .waze {
    width: 10%;
  }

  .maps {
    width: 10%;
  }

  .maps a {
    color: white;
    font-size: 0.75rem;
  }

  .rsvp-text p {
    font-size: 1rem;
  }

  .rsvp {
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  .form-rsvp {
    width: 50%;
  }

  .rsvp input {
    font-size: 1rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
  }

  .presenca {
    margin-bottom: 2rem;
  }

  .presenca label {
    font-size: 1rem;
  }

  .presenca-adulto {
    margin-bottom: 1rem;
  }

  .presenca-adulto label {
    font-size: 1rem;
  }

  .presenca-adulto select {
    padding: 0.5rem;
  }

  .form-rsvp button {
    font-size: 1rem;
    cursor: pointer;
  }

  .form-rsvp button:hover {
    opacity: 50%;
  }

  .presentes-text p {
    font-size: 1rem;
  }

  .presentes {
    display: flex;
    justify-content: center;
  }

  .pix-text p {
    font-size: 1rem;
  }

  .pix img {
    width: 20%;
  }

  .pix-email p {
    font-size: 1rem;
  }

  .traje-text p {
    font-size: 1rem;
  }

  .traje img {
    width: 50%;
  }

  .logo img {
    margin-top: 1rem;
    width: 30%;
    padding: 1rem;
  }

  .footer img {
    width: 50%;
  }
}
